beautifulsoup4==4.11.2
Flask==2.2.5
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
keras==2.11.0
jsonschema==4.17.3
MarkupSafe==2.1.2
nltk==3.8.1
numpy==1.21.6
pickleshare==0.7.5
protobuf==3.19.6
requests==2.31.0
Werkzeug==2.2.3
gunicorn==19.9.0
